import argparse

def main():
    parser = argparse.ArgumentParser()
    parser.add_argument("--value", type=int)
    args = parser.parse_args()
    {{ logic|indent(4) }}

if __name__ == "__main__":
    main()
